<?xml version="1.0"?>
<config>
    <modules>
        <Bpf_Hreflang>
            <version>1.0.0</version>
        </Bpf_Hreflang>
    </modules>
    <global>
        <models>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Model</class>
                <resourceModel>bpf_hreflang_resource</resourceModel>
            </bpf_hreflang>
            <bpf_hreflang_resource>
                <class>Bpf_Hreflang_Model_Resource</class>
                <entities>
                    <group>
                        <table>bpf_hreflang_group</table>
                    </group>
                    <group_item>
                        <table>bpf_hreflang_group_item</table>
                    </group_item>
                </entities>
            </bpf_hreflang_resource>
        </models>
        <resources>
            <bpf_hreflang_setup>
                <setup>
                    <module>Bpf_Hreflang</module>
                </setup>
            </bpf_hreflang_setup>
        </resources>
        <blocks>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Block</class>
            </bpf_hreflang>
        </blocks>
        <helpers>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Helper</class>
            </bpf_hreflang>
        </helpers>
        <events>
            <cms_page_delete_after>
                <observers>
                    <bpf_hreflang_remove_from_groups>
                        <class>bpf_hreflang/observer</class>
                        <method>removeDeletedCmsPageFromGroups</method>
                    </bpf_hreflang_remove_from_groups>
                </observers>
            </cms_page_delete_after>
        </events>
        <bpf_hreflang>
            <resolvers>
                <home>
                    <class>bpf_hreflang/resolver_home</class>
                    <actions>
                        <cms_index_index/>
                    </actions>
                </home>
                <product>
                    <class>bpf_hreflang/resolver_product</class>
                    <actions>
                        <catalog_product_view/>
                    </actions>
                </product>
                <category>
                    <class>bpf_hreflang/resolver_category</class>
                    <actions>
                        <catalog_category_view/>
                    </actions>
                </category>
                <cms>
                    <class>bpf_hreflang/resolver_cms</class>
                    <actions>
                        <cms_page_view/>
                    </actions>
                </cms>
            </resolvers>
        </bpf_hreflang>
    </global>
    <frontend>
        <translate>
            <modules>
                <Bpf_Hreflang>
                    <files>
                        <default>Bpf_Hreflang.csv</default>
                    </files>
                </Bpf_Hreflang>
            </modules>
        </translate>
        <layout>
            <updates>
                <bpf_hreflang>
                    <file>bpf_hreflang.xml</file>
                </bpf_hreflang>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bpf_Hreflang before="Mage_Adminhtml">Bpf_Hreflang_Adminhtml</Bpf_Hreflang>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Bpf_Hreflang>
                    <files>
                        <default>Bpf_Hreflang.csv</default>
                    </files>
                </Bpf_Hreflang>
            </modules>
        </translate>
        <layout>
            <updates>
                <bpf_hreflang>
                    <file>bpf_hreflang.xml</file>
                </bpf_hreflang>
            </updates>
        </layout>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <bpf_hreflang_clean_cache>
                        <class>bpf_hreflang/observer</class>
                        <method>cleanCacheOnConfigSave</method>
                    </bpf_hreflang_clean_cache>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>
    <default>
        <bpf_hreflang>
            <general>
                <enabled>0</enabled>
                <group_scope>website</group_scope>
                <excluded_actions>cms_index_noRoute
cms_index_defaultNoRoute
catalogsearch_*
checkout_*
customer_*
wishlist_*
sales_*
review_*
contacts_*</excluded_actions>
            </general>
        </bpf_hreflang>
    </default>
</config>
