<?xml version="1.0"?>
<config>
    <modules>
        <Bpf_Hreflang>
            <version>0.1.1</version>
        </Bpf_Hreflang>
    </modules>
    <global>
        <models>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Model</class>
            </bpf_hreflang>
        </models>
        <blocks>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Block</class>
            </bpf_hreflang>
        </blocks>
        <helpers>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Helper</class>
            </bpf_hreflang>
        </helpers>
        <bpf_hreflang>
            <resolvers>
                <home>
                    <class>bpf_hreflang/resolver_home</class>
                    <actions>
                        <cms_index_index/>
                    </actions>
                </home>
            </resolvers>
        </bpf_hreflang>
    </global>
    <frontend>
        <layout>
            <updates>
                <bpf_hreflang>
                    <file>bpf_hreflang.xml</file>
                </bpf_hreflang>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <bpf_hreflang_clean_cache>
                        <class>bpf_hreflang/observer</class>
                        <method>cleanCacheOnConfigSave</method>
                    </bpf_hreflang_clean_cache>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>
    <default>
        <bpf_hreflang>
            <general>
                <enabled>0</enabled>
                <group_scope>website</group_scope>
                <excluded_actions>cms_index_noRoute
cms_index_defaultNoRoute
catalogsearch_*
checkout_*
customer_*
wishlist_*
sales_*
review_*
contacts_*</excluded_actions>
            </general>
        </bpf_hreflang>
    </default>
</config>
