<?xml version="1.0"?>
<config>
    <modules>
        <Bpf_Hreflang>
            <version>0.1.1</version>
        </Bpf_Hreflang>
    </modules>
    <global>
        <models>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Model</class>
            </bpf_hreflang>
        </models>
        <blocks>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Block</class>
            </bpf_hreflang>
        </blocks>
        <helpers>
            <bpf_hreflang>
                <class>Bpf_Hreflang_Helper</class>
            </bpf_hreflang>
        </helpers>
        <bpf_hreflang>
            <resolvers>
                <home>
                    <class>bpf_hreflang/resolver_home</class>
                    <actions>
                        <cms_index_index/>
                    </actions>
                </home>
            </resolvers>
        </bpf_hreflang>
    </global>
    <default>
        <bpf_hreflang>
            <general>
                <enabled>0</enabled>
                <group_scope>website</group_scope>
                <excluded_actions>cms_index_noRoute
cms_index_defaultNoRoute
catalogsearch_*
checkout_*
customer_*
wishlist_*
sales_*
review_*
contacts_*</excluded_actions>
            </general>
        </bpf_hreflang>
    </default>
</config>
